.List {
    grid-area: list;
    float: left;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.List .Item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}