.Header {
    float: left;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    align-items: center;
}

.Header h1 {
    float: left;
    display: flex;
    justify-content: center;
}

.Header header {
    float: left;
    display: flex;
    justify-content: center;
}